@font-face {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    src: url("chrome-extension://__MSG_@@extension_id__/assets/WorkSans-Regular.ttf"); 
}

$border: 1px solid #282828;

#pc {
    color: #282828;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 100000;
    font-size: 16px;
	font-family: "Work Sans", "comic sans";
    text-align: left;
    line-height: 1.4;

    .pc {

        &-container {
            max-width: 960px;
            padding: 3rem;
            width: 100%;
            margin: 0 auto;
        }

        &-sentence {

        }

    }
}