.h1 {
	text-align: center;
	font-weight: 700;
}

body {
	font-family: "Work Sans", sans-serif;
	background-color: #f9f9f9;
}

.masthead {
	background-color: #fff;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
}

.options {
	background-color: #fff;
	padding: 3rem 3rem 5rem;
	border: 1px solid #ccc;
	margin: 3rem auto;
	max-width: 500px;
	width: 100%;

	&__title {
		font-size: 24px;
		margin: 0 0 3rem;
	}

	label {
		font-size: 14px;
		font-weight: 400;
	}
	
	input,
	textarea {
		border-radius: 0;
	}
}

.form-control {
	margin-bottom: 1.5rem;
}